<!DOCTYPE html>
<html>
  <head>
    <title>CombineAPI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  </head>

  <body class="container mt-3">
    <%= yield %>
  </body>
</html>
